{% extends "volunteer/base.html" %}

{% block title %}{% endblock %}

{% block link %}
    <link href="/static/css/lstspg.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    {% block content_list %}{% endblock %}
    {% block page_list %}
        {#        <ul class="pageList">#}
        {#            <li>首页</li>#}
        {#            <li>上一页</li>#}
        {#            <li class="active">1</li>#}
        {#            <li>2</li>#}
        {#            <li>3</li>#}
        {#            <li>4</li>#}
        {#            <li>5</li>#}
        {#            <li>6</li>#}
        {#            <li>下一页</li>#}
        {#            <li>末页</li>#}
        {#        </ul>#}
        <div class="pageList">
            <span class="step-links">
                {% if data.has_previous %}
                    <a href="?page={{ data.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    当前页 {{ data.number }} of {{ data.paginator.num_pages }}.
                </span>

                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}">下一页</a>
                {% endif %}
            </span>
        </div>
    {% endblock %}

{% endblock %}
